:root {
    --dark-theme-bgcolor: rgb(15, 14, 14);
    --dark-theme-color: rgb(255, 255, 255);
}
/**/

#notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.pgh-notes {
    display: flex;
    align-items: center;
    align-self: center;
    width: auto;
    height: 3rem;
    text-align: center;
    border-bottom-right-radius: 16px;
}

/*Themes*/
.dark {
    background-color: var(--dark-theme-bgcolor);
    color: var(--dark-theme-color);
}